.home-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: auto;
  max-width: 1500px;
  padding-top: 0vh;
}
.s {
  width: 100%;
  text-align: center;
  font-size: 60px;
  margin-top: 5vh;
  font-weight: bolder;
}
.header-search {
  margin-top: 5vh;
  width: 100%;
  margin-bottom: 10vh;
}
.search-form {
  width: 40vw;
  padding: 10px;
  border-radius: 10px;
}
.fa-search {
  border-radius: 5px;
  background: white;
  padding: 12px;
  position: relative;
  border: black 2px solid;
  border-left: white 2px solid;
  margin-left: -10px;
  cursor: pointer;
}
.home-image {
  width: 100%;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.562),
    rgba(0, 0, 0, 0)
  );
  margin-top: -50px;
  z-index: -1;
  position: relative;
}

.home-image {
  position: absolute;
  z-index: -1;
}
